<!DOCTYPE html>
<html lang="en">
<head>
	<title>StormTracker</title>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<!-- Andriod Manifest -->
	<link rel="manifest" href="/manifest.json">
	
	<!--Add to homescreen-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/addtohomescreen.css">
	<script src="/scripts/addtohomescreen.js"></script>
	<script>
	addToHomescreen({});
	</script>

	<!-- Bootstrap CSS CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- FontAwesome CDN-->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- iOS web app icon -->
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	
	
	<!-- Layout CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loader.css">