<% include ./partials/header %>

<link href="/stylesheets/coverpage.css" rel="stylesheet"></link>
<!-- Need in add in the head and the body since I haven't included the nav partial -->
</head>
<body>
    <div id="landing-header">
      <img class="logo" src="/images/logoMD.png"></img>
      <img class="stormtracker" src="/images/logo_st.png"></img>
      <p class="text-center mx-auto" style="width: 90%;">StormTracker aids our effort to monitor tropical cyclonic activities in real time and is for informational and educational use only. In no circumstances should StormTracker be used for life and death decisions or provide “guidance” to onshore and offshore operations.</p>
      <div>
        <a href="/home" class="btn btn-lg btn-primary enter" style="width: 200px">Enter</a>  
      </div>
		  
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>