<% include ./partials/header %>
<link href="/stylesheets/credits.css" rel="stylesheet"></link>
<% include ./partials/nav %>
<div class="container">
    <p class="mb-4">Icons provided by <a href="http://www.thenounproject.com">Noun Project</a>:</p>
    <table class="table">
      <tbody>
        <tr>
          <td><img class="creditIcon" src="/icons/gust.png"></td>
          <td>Wind by Austin Condiff</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/wind.png"></td>
          <td>Wind by Sergey Demushkin</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/hurricane.png"></td>
          <td>Hurricane by Rien</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/pressure.png"></td>
          <td>Thermometer by Gregor Cresnar</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/model.png"></td>
          <td>Data Model by Tomas Knopp</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/weather.png"></td>
          <td>weather by yng</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/radar.png"></td>
          <td>Radar by Kenneth Chua</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/outlook.png"></td>
          <td>View by Jimi Lim</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/satellite.png"></td>
          <td>Satellite by anggun</td>
        </tr>
        <tr>
          <td><img class="creditIcon" src="/icons/cat-1.png"></td>
          <td>storm by Justin Blake</td>
        </tr>
      </tbody>
    </table>

</div>

<%  include ./partials/footer %>