<% include ./partials/header %>
<!-- Now I can add custom links for each page here -->
<!-- Because the header partial does not have the </head> tag, but the nav partial does -->

<link href="/stylesheets/homepage.css" rel="stylesheet"></link>

<% include ./partials/nav %>

<div class="container">
  <img class="img-fluid" src="/images/logo_st.png" id="logo_st">
  <hr class="my-4">
  <div class="Row">
    <a href="/sites/platforms"><img src="/images/platforms_off.png"></a>
  </div>
  <div class="Row">
    <a href="/sites/modus"><img src="/images/modus_off.png"></a>
  </div>
  <div class="Row">
    <a href="/sites/deepwater"><img src="/images/deepwater_off.png"></a>
  </div>
  <div class="Row">
    <a href="/sites/tropicaloutlook"><img src="/images/tropicaloutlook_off.png"></a>
  </div>
  <div class="Row">
    <a href="/weather/radar">Radar</a>
  </div>
</div>
  

<%  include ./partials/footer %>