<% include ../partials/header %>

<% include ../partials/nav %>

<div class="container">
    <h3 class="btn mb-0" style="background: var(--matdan-blue);">Method To Add</h3>
    <div class="d-flex flex-column">
        <a class="btn btn-lg btn-outline-dark mt-3 p-3" href="/sites/new">Enter Manually</a>
        <a class="btn btn-lg btn-outline-dark my-3 p-3" href="/newsites">Select From Database</a>    
    </div>
    
</div>

<%  include ../partials/footer %>