<% include ../partials/header %>

<% include ../partials/nav %>

<div class="container">
    <a href="/sites" class="btn h3" style="background: var(--matdan-blue);">Go Back</a>
    <div class="d-flex flex-column">
        <a class="btn btn-lg btn-outline-dark mt-3 p-3" href="/sites/new">Enter Manually</a>
        <a class="btn btn-lg btn-outline-dark my-3 p-3" href="/newsites">Select From Database</a>    
    </div>
    
</div>

<%  include ../partials/footer %>