.table {
	background-color: white;
	color: black;
	display: block;
    overflow-x: auto;
    white-space: nowrap;
}

td {
	text-align: center;
}

.table .thead-dark th {
    background-color: #5897c7;
}

@media (min-width: 700px) {
    table {
	    display: table!important;
    }
}