:root {
    --matdan-blue: #5498C3;   
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

html,body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-size: 1.1rem;
}

.rounded {
    border-radius: 5px;
}

.shadow {
    /*text-shadow: 2px 2px 2px black;*/
    color: black;
    font-size: 1rem;
}

.muted {
    color: rgba(255, 255, 255, 0.6);
}

.STlogo {
    max-width: 300px;
}

.navbar-toggler {
    font-size:1.5rem;
}

.weatherIcon {
    max-width: 20px;
    height: auto;
    max-height: 1em;
    font-size: 1em;
}

.stormCard {
    min-width: 350px;
}

.small {
    font-size: 0.8em;
}

.card {
    line-height: normal;
}

.nav-link {
    padding: .25rem .5rem;
}

.dropdown-menu {
    text-align: right;
    min-width: auto;
}

.dropdown-item:hover {
    color: #4b75a5;
}

.dropdown-item:active {
    color: #4b75a5;
    text-decoration: none;
    background-color: #f8f9fa;
}

.card {
    color:black;
}


.navbar-brand img {
    height: 2.5em;
    
}

.contacts {
    width: 30%;
    margin: 30px auto
}

.container {
    padding-top: 20px;
}



.btn-outline-dark {
    color: white;
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

p {
    text-align: justify;
}

.hidden {
    display:none;
}

.disabledLink {
    cursor: pointer; 
}

.navbar-collapse {
    text-align: right;
}

.credited {
    font-size: 0.75rem;
}

.fixed-bottom {
    bottom: 20px;
}

.dropdown-menu {
    font-size: 1.1rem;
}

.dropdown-item {
    padding: 0.25rem 1rem;
}

.nav-link.active {
    background-color: var(--matdan-blue)!important;
}

.form-class {
    padding-top: 20px!important;
}

#pac-input {
    border-radius: 5px;
    padding: 5px;
    width: 20rem;
    text-align: center;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .navbar-brand img {
    height: 3em;
    }
}
