<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/map.css"></link>
<link rel="stylesheet" href="/stylesheets/radar.css"></link>

<% include ../partials/nav %>

<div class="container">
    <!-- Establish DIV -->
    <div id="re_canvas" style="width:800px;height:600px;">RealEarth</div>    
</div>


<!-- Initialize ViewController -->
<script src="https://re.ssec.wisc.edu/js/RELoader.js"></script>
<script>
var options = {
  selector: true,
  products: 'globalir.50,nexrhres.80',
  center: '25,-90',
  zoom: '3'
}
var reController = new ssec.realearth.ViewController('re_canvas', options);
</script>


<% include ../partials/footer %>